html {
    font-size: 100%;
}

body {
    font-family: "Noto Sans JP";
    background-color: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    color:#AF7A02;
}

img {
    max-width: 100%;
    height:auto;
}

li {
    list-style-type: none;
}

.inner {
    width:100%;
    max-width: 1208px;
    height:100%;
    margin: 0 auto;
    padding:20px;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

/*ヘッダー*/
.wrapper {
    position: relative;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:5rem;
    position: fixed;
    transition: .5s ;
    z-index:55;
}

.header.fixed {
    position: fixed;
    height:100px;
    background-color: hsla(0, 0%, 100%, .95);
}

.header .inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding:0 40px;
}


.header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height:8vh;
    z-index: 11;
}

.nav-item {
    position: relative;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .nav-item::after {/*下線を追加してホバーするまで非表示*/
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #333;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  .nav-item:hover::after {/*ホバー時に下線を表示*/
    transform: scaleX(1);
  }


.header .logo {
    font-size: 1.25rem;
    color:#AF7A02;
}

.header .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .button {
    padding:10px;
    background-color: #1F9ED4;
    border-radius: 10px;
}

.header li {
    margin-right: 2rem;
}

.header li:nth-last-child(1) {
    margin-right: 0;
}

.header a {
    text-decoration: none;
    font-weight: bold;
    color:#000;
    transition: 0.4s;
}


.nav-button {
    display: none;
}





/*main*/
.container {
    position: relative;
}

.main-img {
    width:100%;
    height:auto;
    position: relative;
    margin-bottom: 100px;
}

main .icon-box {
    position: absolute;
    bottom:17%;
    right:25%;
    width:230px;
    background-color: #DAA000;
    text-align: center;
    padding: 15px 10px;
    border-radius: 30px;
}
main .icon-text {
    font-size: 1.25rem;
    font-weight: bold;
}
main a {
    text-decoration: none;
    color:#FFFFFF
}

main .img-title {
    position: absolute;
    bottom:5%;
    left:10%;
    font-size:4rem ;
    font-weight: bold;
    color:#DAA000;
}

/*concept*/

.concept{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;  /* アイテムがコンテナ内で折り返すように */
   margin-bottom: 50px;
   transition: all 0.3s ease;
}

.concept-box {
    margin-right: 50px;
    flex: 1;
    min-width: 200px; /* アイテムが小さくなりすぎないように最小幅を指定 */
}

.concept-bgc {
    background-color: #ffffff;
    width:100px;
    height:20px;
    position: relative;
    top:40px;
    left:10px;
    z-index:-1;
}
 
main .title {
    font-size:1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.sub-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

main .concept-text {
    line-height: 2;
    margin-bottom: 20px;
    font-size: 1rem;
}


main .concept-button {
    line-height: 2;
    font-weight:  normal;
    border: 1px solid #DAA000;
    color:#DAA000;
    padding: 10px 70px;
    text-align: center;
}

main .concept-button {
    font-size: 16px;
    text-decoration: none;
    color:#DAA000;
    transition: 0.3s;
}

main .concept-button:hover {
    background-color: #fff;
}


/*news*/
.news-inner {
    width:100%;
    max-width: 1208px;
    height:100%;
    margin: 0 auto;
    padding:0 20px;
    background-color: #FFFFFF;
    margin-bottom: 100px;
}

.news-inner .news-flex {
    display: flex;
    align-items: center;
    gap:20px;
    padding:10px;
    margin-bottom: 10px;
}

.news-inner .news-title {
    font-size: 1.25rem;
    font-weight: medium;
}

.news-inner .news-subtitle {
    font-size:1.25rem ;
    color:#000000;
}

.news-inner dl {
    display: flex;
    flex-wrap: wrap;
}

.news-inner dt {
    width:20%;
    font-size:1.25rem ;
    padding:10px;
    border-top: 3px solid #EDEBE3;
}

.news-inner dd {
    width:80%;
    font-size:1.25rem ;
    padding:10px;
    border-top: 3px solid #EDEBE3;
}

/*information*/
.information {
    width:100%;
    background-color: #C9C0A7;
    margin-bottom: 100px;
    text-align: center;
}

.information-inner {
    width:100%;
    max-width: 1208px;
    height:100%;
    margin: 0 auto;
}

.information .icon {
    margin-bottom: 10px;
}

.information .information-subtitle {
    font-size: 1.25rem;
    color:#fff;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 40px;
}

.information .information-title {
    font-size: 1.25rem;
    color:#fff;
    text-align: center;
    margin-bottom: 40px;
}

.information .information-flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
}

.information .info-item1 {
    height:340px;
    background-color: #fff;
    border-radius:50px ;
    margin-bottom: 50px;
    margin-right: 20px;
    text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.information .item-title {
   margin-bottom:20px ;
   font-size: 1.5rem;
}

.information p {
    font-size :0.875rem ;
    line-height: 2;
}

.information .button {
    width:224px;
    font-size: 20px;
    display: inline-block;
   border: 3px solid #FFFFFF;
    color:#FFFFFF;
    padding:10px 40px ;
    text-decoration: none;
    margin-bottom: 40px;
    transition: 0.3s;
}

.information .button:hover {
    background-color: #f1f1f1;
}

/*facilties*/
.facilties {
    margin-bottom: 100px;
}

.facilties-inner {
    width:100%;
    max-width: 1208px;
    height:100%;
    padding: 0 20px;
    margin: 0 auto;
}

.facilties-inner .facilties {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.facilties-bgc {
    background-color: #ffffff;
    width:120px;
    height:20px;
    position: relative;
    top:40px;
    left:10px;
    z-index:-1;
}

.facilties-inner .facilties-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.facilties-inner .facilties-text {
    font-size: 1.25rem;
    margin-bottom: 40px;

}

.facilties-flex2 {
    display: flex;
    gap: 50px;
    margin-top: 40px;
    transition: transform 0.3s ease-in-out;
}

/*Greeting*/
.Greeting {
    background-color: #FFFFFF;
    height:528px;
    padding-top:60px;
    margin-bottom: 100px;
}

.Greeting .Greeting-inner {
    width:100%;
    max-width: 1208px;
    height:100%;
    margin: 0 auto;
    padding:0 40px;
}

.Greeting .Greeting-flex {
    display: flex;
    gap:50px;
}

.Greeting .Greeting-img {
    width:350px;
    height:380px;
}

.Greeting .Greeting-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.Greeting .Greeting-hello {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

/*access*/
.access {
    margin-bottom: 100px;
}

.access  .access-inner {
    width:100%;
    max-width: 1208px;
    height:100%;
    margin: 0 auto;
}

.access  .access-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 50px;
}

.access-bgc {
    background-color: #ffffff;
    width:120px;
    height:20px;
    position: relative;
    top:40px;
    left:calc(50% - 55px);
    z-index:-1;
}

.access .access-flex {
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}

.access .list-title {
    font-size: 1.25rem;
    margin-bottom: 20px;
}


.access .table {
    padding:1.25rem ;
    margin-top: 20px;
    margin-bottom: 20px;
    border:1px solid #AF7A02;
    border-radius: 20px;
    width:100%;
    overflow: auto;
}

.access th,td {
    border-bottom:1px solid #C9C0A7;
      padding: 10px;
    text-align: left;
}

.access .time {
    color:#AF7A02;
}

.accesslist {
    margin-left: 50px;
}

.access .zyouhou {
    display: inline-block;
    background-color: #FFFFFF;
    padding:1rem;
    text-align: center;
    border-radius: 10px
}

.karender {
    margin: 20px 0;
}

.access .yoyaku {
    width:214px;
    font-size: 16px;
    display: block;
    background-color:#1F9ED4 ;
    color:#FFFFFF;
    font-weight: bold;
    padding:10px 20px ;
    text-decoration: none;
    transition: 0.3s;
}

.access .yoyaku:hover {
    background-color: #4f95b3;
}

.access li:nth-child(1) {
    margin-bottom: 10px;
}

.access span {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/*footer*/
.footer {
    background-color: #AF7A02;
}

.footer ul {
    display: flex;
}

.footer li {
    margin-right: 30px;
}


.footer li a {
    transition: 0.2s;
}

.footer li a:hover {
    color:#a08539;
}

.footer-inner {
    width:100%;
    max-width: 1208px;
    height:100%;
    padding: 30px 0 0 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .copy {
    width:100%;
    max-width: 1208px;
    height:100%;
    margin: 50px auto 0 auto;
    color:#fff;
}

.footer .logo {
    font-size: 1.25rem;
    color:#fff;
}

/*TOP*/
.pagetop {
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transition: .3s;
    color: #000;
    background: #fcda7d;
}  


.pagetop:hover {
    box-shadow: 0 0 10px #00A6C4;
}

   
@keyframes showOrder {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }



/*about main*/
.prisi {
    text-align: center;
}

.abouth2 {
    color:#DAA000;
    font-size: 1.25rem;
}

.about-policy-box {
    margin-top: 50px;
}

.about-policy-flex {
    display: flex;
   align-items: center;
   gap:30px
}

.about-policy-img {
    height:100%;
}

.abouth3 {
    color:#00A6C4;
    margin-bottom: 10px;
}

.about4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.about-pictures-padding {
    padding:0 40px;
}

.box {
    padding-top: 60px;
    margin-top: -60px;
}

.about-pictures-title {
    text-align: center;
    margin-bottom: 30px;
}

.about-pictures-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.about-pictures-item {
    width: calc(33% - 16px);
}

.about-pictures-item:nth-child(n+4) {
    margin-top: 20px;
}

.footer li a {
    color:#fff;
}

/*plan*/
.plan-flex {
    display: flex;
    align-items: center;
}

.plan-title {
    font-size: 1.25rem;
    color:#DAA000;
}

.plan-titlebox {
    margin-bottom: 50px;
}

.plan-menu-flex {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 1px solid #a1832f;
    padding:15px 5% 5px;
}

.plan-menu-flex li {
    margin-bottom: 10px;
    flex: 0 0 32%;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}

.plan-menu-flex li a {
    text-decoration: none;
    color:#000;
}

.plan-menu-flex li a::after {
    content:'';
    position: absolute;
    display: block;
    background-image: url(./images/arrow.png);
    background-repeat: no-repeat;
    top: 8px;
    left: -18px;
    right:auto;
    bottom: 0;
    width:100%;
    height:100%;
}

.plan-menu-flex li:hover {
    color:#DAA000;
}

.plan-subtitle {
    font-size: 1.25rem;
    color:#1F9ED4;
    padding-bottom: 10px;
    border-bottom: 1px solid #c2c2c2;
}

#plan-subtitle a {
    text-decoration: none;
    color:#1F9ED4;
}

.plan-info-item {
    position: relative;
    background-color: #fff;
    padding:40px;
    border-radius: 20px;
}

.plan-text-img-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}


.plan-text {
    width:50%;
    line-height: 2;
}

/*contact*/

/*contact*/
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-text {
    margin-bottom: 80px;
}

.contact-tile {
    text-align: center;
    font-size:1.25rem ;
    color: #00A6C4;
    margin-bottom: 40px;
}

.form-box {
    margin-bottom: 15px;
}

input, textarea {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}


label {
    font-size: 1rem;
    font-weight: bold;
}

input,textarea, select {
    width:100%;
    max-width: 100%;
    padding:10px;
    border:1px solid #ddd;
    border-radius:4px;
    font-size: 14px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

textarea {
    resize: vertical; /* 垂直方向にリサイズ可能 */
}

input[type="submit"] {
    width:100%;
    background-color:#1F9ED4;
    color: #fff;
    border:none;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #39aabe;
}

.checkbox {
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
}

.checkbox label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.checkbox label:nth-child(2n) {
    margin-right: 0;
} 

@media screen and (max-width:1259px) {
    .nav-button {
        position: relative;
        display: block;
        width:56px;
        height:24px;
        cursor: pointer;
        z-index:100;
    }

    .nav-button span {
        position: absolute;
        top:-1px;
        left: 0;
        display: inline-block;
        width:100%;
        height:2px;
        background-color: #fcda7d;
        transition: .5s;
        z-index:120;
    }

    .nav-button.active span:nth-child(1) {
        transform: rotate(315deg);
        top: 5px;
    }

    .nav-button  .line2 {
        top:11px;
    }

    .nav-button.active span:nth-child(2) {
        opacity: 0;
    }

    .nav-button  .line3 {
        top:24px;
    }

    .nav-button.active span:nth-child(3) {
        transform: rotate(-315deg);
        top: 5px;
    }
    

    .nav-links {
        top: 0;
        right:-300px;
        position: fixed;
        width: 272px;
        height:100%;
        transition: .5s ease-in-out;
        background-color: hsla(0, 0%, 100%, 0.75) ;
        z-index:500;
    }

    .nav-links.open {
        right: 0;
        width:100%;
      height:100%;
      padding:70px;
      flex-direction: column;
      z-index: 10;
    }
}




        /*375px*/
@media screen and (max-width:375px){
    
main .img-title {
    font-size:1.25rem ;
}


    .header .logo {
        font-size: 1rem;
        color:#AF7A02;
    }
        
    .img-icon {
        width:40px;
    }

    main .icon-text {
        font-size: 0.8rem;
    } 

    main .icon-box {
        width:120px;
    }

    .inner {
        width:100%;
        max-width: 360px;
        height:100%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .main-img {
        margin-bottom:0;
    }
    

    main .icon-box {
        bottom:65%;
        right:10%;
        bottom:0;
    }

    .concept-img {
        margin-top: 50px;
    }

    .concept-box {
        margin:0;
    }
              
    .sample1-1::before{
        width: 80px;
    }

    .news-inner {
        width:100%;
        max-width: 360px;
        height:100%;
        margin: 0 auto;
        background-color: #FFFFFF;
        margin-bottom: 100px;
    }

  .concept {
       flex-direction: column;
        padding:5px;
    }

    .news-inner dl {
        flex-direction: column;
    }

    .information .information-flex {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    .facilties-flex2 {
        flex-direction: column;
        text-align: center;
    }

    .Greeting {
        height:auto;
    }

    .Greeting .Greeting-inner {
        width:100%;
        max-width: 360px;
        height:100%;
        margin: 0 auto;
        padding:0 40px;
    }

    .Greeting .Greeting-img {
        width:auto;
        height:auto;
    }

    .Greeting .Greeting-flex {
        flex-direction: column;
        gap: 20px;
    }
    
    .accesslist {
        margin-top: 30px;
    }

    .access-flex {
        flex-direction: column;
    }

    .dot {
        width:10px;
    }

    
.footer-inner {
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 20px;
}

.footer ul {
    flex-direction: column;
}

.footer .copy {
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 20px;
    }

}

section.show  {
    opacity: 1;
    animation-name: showOrder;
    animation-duration: 1s;
}



/* タブレットサイズ */
@media screen and (max-width: 1024px) {
    .concept {
        flex-direction: column; /* 縦並びに変更 */
        align-items: center;
        gap: 30px; /* アイテム間にスペースを確保 */
        padding:0 20px 0 40px;
    }

    .main .title,
    .sub-title {
        font-size: 1.2rem; /* タイトルを少し小さく */
    }

    .concept-text {
        font-size: 1rem; /* テキストを少し小さく */
    }

    .news-inner .news-flex {
        flex-direction: column;  /* 縦並びに切り替え */
        align-items: center;
        gap: 20px;  /* アイテム間にスペースを確保 */
    }

    .news-inner dl {
        flex-direction: column;  /* dl内の要素を縦並びに変更 */
    }

    .news-inner dt,
    .news-inner dd {
        width: 100%;  /* 幅を100%にして、要素が横並びにならないように */
        font-size: 1rem;  /* フォントサイズを調整 */
    }

    .news-inner dd {
        border-top:none;
    }

    .news-inner .news-title,
    .news-inner .news-subtitle {
        font-size: 1rem;  /* サブタイトルとタイトルを調整 */
    }

    .information .information-flex {
        grid-template-columns: repeat(2, 1fr); /* 2列表示 */
        padding: 0 10px 0 50px;
    }

    .Greeting .Greeting-inner {
        padding: 0 20px;  /* 余白を調整 */
    }

    .Greeting .Greeting-img {
        width: 300px;  /* 画像サイズ調整 */
        height: 320px;
    }

    .Greeting .Greeting-title,
    .Greeting .Greeting-hello {
        font-size: 1.125rem;  /* フォントサイズ調整 */
    }

    .access .access-flex {
        gap: 20px; /* アイテム間のスペースを調整 */
    }

    /* テーブルの調整 */

    .access .table {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 0.9rem;
        padding:0rem;
    }
}



/* スマホサイズ */
@media screen and (max-width: 768px) {
    main .img-title {
        font-size: 2rem;/*フォントサイズ調整*/
    }
    .news-inner {
        padding: 0 10 0 30px;  /* 余白を調整 */
    }

    .news-inner .news-flex {
        flex-direction: column;  /* 縦並びに切り替え */
        align-items: center;
        gap: 15px;  /* アイテム間のスペースを調整 */
    }

    .news-inner dl {
        flex-direction: column;  /* dl内の要素を縦並びに変更 */
    }

    .news-inner dt,
    .news-inner dd {
        width: 100%;  /* 幅を100%に変更 */
        font-size: 0.875rem;  /* フォントサイズを調整 */
    }

    .news-inner .news-title,
    .news-inner .news-subtitle {
        font-size: 1rem;  /* サブタイトルを調整 */
    }

    .Greeting .Greeting-inner {
        padding: 0 10px;  /* 余白を調整 */
    }

    .Greeting {
        height:auto;
        padding-bottom: 60px;
    }

    .Greeting .Greeting-flex {
        flex-direction: column;  /* 縦並びに変更 */
        gap: 10px;
        align-items: center;
    }

    .Greeting .Greeting-img {
        width: 250px;  /* 画像のサイズ調整 */
        height: 270px;
    }

    .Greeting .Greeting-title,
    .Greeting .Greeting-hello {
        font-size: 1rem;  /* フォントサイズ調整 */
    }

    .information .information-flex {
        grid-template-columns: 1fr; /* 1列表示 */
        padding: 0 10px 0 50px;
    }

     /* モバイル表示の場合に、フレックスアイテムのサイズを調整 */
     .access .access-flex {
        flex-direction: column;  /* 1列表示 */
        gap: 10px;
        padding: 0 10px;  /* スペースを小さく */
    }

    .access .access-title {
        font-size: 1.25rem;  /* タイトルのフォントサイズ調整 */
        margin-bottom: 30px;
    }

    .accesslist {
        margin-left: 0;  /* モバイル時に余計なマージンを取り除く */
    }

    /* テーブルの幅も調整 */
    .access .table {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 0.9rem;
        padding:0rem;
    }

    .access th, td {
        padding:  12px;  /* テーブル内のパディングを小さく */
        font-size: 0.875rem;  /* フォントサイズを調整 */
    }

    .footer-inner {
        flex-direction: column;  /* 縦並びに変更 */
        padding: 10px 20px;
    }

    .footer ul {
        flex-direction: column;
        gap: 10px;
    }

    /*about*/
    .about-policy-flex {
        flex-direction: column;
    }

    .about-pictures-items {
       flex-direction: column;
    }

    .about-pictures-item {
        width:100%;
    }

    /*contact*/
    .plan-text {
        width:100%;
        margin-bottom: 20px;
    }

    .plan-text-img-flex {
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    .news-inner {
        padding: 0 10px;  /* 余白を調整 */
    }

    .news-inner .news-flex {
        flex-direction: column;  /* 縦並び */
        gap: 10px;  /* アイテム間にスペースを確保 */
    }

    .news-inner dl {
        flex-direction: column;  /* dl内の要素を縦並びに変更 */
    }

    .news-inner dt,
    .news-inner dd {
        width: 100%;  /* 幅を100%に設定 */
        font-size: 0.8rem;  /* フォントサイズを小さく調整 */
    }

    .news-inner .news-title,
    .news-inner .news-subtitle {
        font-size: 1rem;  /* タイトルとサブタイトルを調整 */
    }

    .Greeting .Greeting-inner {
        padding: 0 10px;  /* 余白を調整 */
    }

    .Greeting .Greeting-flex {
        flex-direction: column;  /* 縦並びに変更 */
        gap: 10px;
        align-items: center;
    }

    .Greeting .Greeting-img {
        width: 220px;  /* 画像のサイズ調整 */
        height: 240px;
    }

    .Greeting .Greeting-title,
    .Greeting .Greeting-hello {
        font-size: 0.875rem;  /* フォントサイズをさらに小さく調整 */
    }

    .access .access-title {
        font-size: 1rem;  /* モバイル用にタイトルのフォントサイズを小さく */
    }

    /* テーブルのカラム幅を調整 */
    .access .table th, .access .table td {
        font-size: 0.75rem;  /* テーブルのフォントサイズをさらに小さく */
        padding: 6px;  /* パディングを調整 */
    }

    /* 予約ボタンの幅を調整 */
    .access .yoyaku {
        width: 100%;  /* ボタンが横幅を取るようにする */
        padding: 12px 20px;
        font-size: 14px;
    }

    .pagetop {
        width: 50px;
        height: 50px;
        font-size: 1.2rem;
    }


    .access .access-map iframe {
        width: 100%;
        height: auto;
    }

    /*about*/
    .about-pictures-items {
       flex-direction: column; /*縦並び*/
    }

    .about-pictures-padding { /*余白調整*/
        padding:0;
    }

    /*plan*/
    .plan-menu-flex {
        grid-template-columns: repeat(2,2fr);
        padding:17px;
    }

    .plan-menu-flex li a::after {
        left: -14px;
    }

    .plan-text {
        width:100%;
        line-height: 2;
    }

    .plan-img {
        margin:20px 0 0 0 ;
    }
}





